# Product under test
CYPRESS_BASE_URL=https://sit-wetpaint.ddns.net/login
API_BASE_URL=http://192.168.200.161:47080/login

# Test account
# Do not commit real credentials.
TEST_USER_EMAIL=0999999993
TEST_USER_PASSWORD=password123

# Optional environment label for reports
TEST_ENV=staging
